* {
    margin: 0;
    padding: 0;
}

.container1 {
    margin-bottom: 12vh;
}

.catchy1 {
    margin-top: 1vh;
    margin-bottom: 6vh;
    width: 50vw;
    font-size: 12vh;
    font-family: 'Dancing Script', cursive;
    color: #ff7575;
}

.catchy2 {
    margin-top: 1vh;
    margin-bottom: 6vh;
    width: 50vw;
    font-size: 12vh;
    font-family: 'Dancing Script', cursive;
    color: #30a630;
}

.ticklogo {
    background-image: url("res/images/ticklogo.jpg");
    background-size: cover;
    width: 27vw;
    height: 56vh;
    border: 4px solid green;
    border-radius: 2000px;
}

.bighead {
    font-family: 'Signika', sans-serif;
    font-size: 9vh;
    margin-left: 2vw;
}

.restchain {
    display: grid;
    grid-template-columns: 18.5vw 18.5vw 18.5vw 18.5vw;
    grid-template-rows: 65vh;
    column-gap: 3vw;
    margin-top: 3vh;
    margin-bottom: 10vh;
    margin-left: 2vw;
}

.for-color {
    background-color: rgb(255, 254, 234);
    height: 225vh;
    margin-bottom: 10vh;

}

.after-main3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 18vh;
    justify-content: space-around;
    align-items: center;
}

.fastfood {
    background-image: url("res/images/burger24.jpg");
    width: 31vw;
    height: 64vh;
    background-size: cover;
    border-radius: 17px;
}

.catchy3 {
    font-family: 'Dancing Script', cursive;
    font-size: 12vh;
    color: #595959;
}

.after-main1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}

.after-main2 {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5vh;
    justify-content: space-around;
    align-items: center;
}

.bigpic {
    background-image: url("res/images/burger23.jpg");
    background-size: cover;
    width: 31vw;
    height: 64vh;
    border-radius: 17px;
    margin-top: 10vh;
}

.foodsection {
    width: 97%;
    height: 120vh;
    display: grid;
    grid-template-columns: 19.5vw 19.5vw 19.5vw 19.5vw 19.5vw;
    grid-template-rows: 27vh 27vh 27vh;
    row-gap: 4vh;
}

.smallbox {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.twotext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 58%;
}

.h3 {
    font-family: 'Times New Roman', Times, serif;
}

.h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
    color: rgb(47, 47, 47);
}

.h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4vh;
}

.bgbox1 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox2 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox3 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox4 {
    height: 18vh;
    width: 13vw;
    border: 2px solid black;
}

.bgbox5 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox6 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox7 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox8 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox9 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox10 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox11 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox12 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox13 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox14 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.bgbox15 {
    height: 18vh;
    width: 12vw;
    border: 2px solid black;
}

.catchy {
    font-size: 7vh;
    font-family: 'Alkatra', cursive;
    color: black;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 2vh;
    width: 59vw;
}

.my-nav {
    background-color: #fbcdd5;
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
}

.items a {
    text-decoration: none;
    list-style: none;
    margin-left: 6vw;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 2.5vh;
    color: black;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: -2.5vw;
    bottom: 0.4vh;
}

.end {
    position: relative;
    left: 6vw;
}

hr {
    color: #ffbbc7;
}

.main-display {
    width: 100%;
    height: 73vh;
    background-image: linear-gradient(rgb(250, 199, 209), rgb(249, 192, 201), rgb(260, 200, 215), rgb(270, 205, 230));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
    width: 27vw;
}

.main-display-left {
    display: flex;
    flex-direction: column;
    width: 44vw;
    height: 32vh;
    margin-left: 9vw;
    margin-top: 10vh;
}

.main-display-left p {
    font-size: 7.5vh;
    font-family: 'Inter', sans-serif;
    color: #fb6193;
    font-weight: bold;
    line-height: 10vh;
}

.main-display-left button {
    width: 13vw;
    height: 7.5vh;
    background-color: pink;
    border: 2px solid pink;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #fb6193;
    font-size: 2.3vh;
    cursor: pointer;
}

.main-display-left button:hover {
    width: 14vw;
    height: 8vh;
    margin-right: 1vw;
    margin-left: 1vw;
}
