body {
    background-image: url("../res/images/sign_up_background.jpg");
    height: 100vh;
}

.container {
    height: 100%;
}

.text-justify {
    text-align: justify;
}

.form-control {
    font-size: 14px;
}
